<div class="form-container">
    
    <mat-form-field>
      <input matInput placeholder="Työnumero">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Päivämäärä">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Toimituspaivä">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Tekijä">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Työ">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Asiakas">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Laskutusosoite">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Tarjottu">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Kustannusarvio">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Koko">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Sivumäärä">
      </mat-form-field>
    
      <mat-form-field>
          <input matInput placeholder="Painosmäärä">
      </mat-form-field>
  
      <mat-form-field>
          <input matInput placeholder="Värit">
      </mat-form-field>
  
      <mat-form-field>
          <input matInput placeholder="Paperi">
      </mat-form-field>
  
      <mat-form-field>
          <input matInput placeholder="Jälkikäsittely">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Toimituskulut">
      </mat-form-field>
    
      <mat-form-field>
          <input matInput placeholder="Tunnit">
      </mat-form-field>
  
      <mat-form-field>
          <input matInput placeholder="Laskutusnumero">
      </mat-form-field>
  
  </div>
